@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@600&display=swap');

html,body{
    height: 100%;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-weight: 300;
}

.nav-link{
    font-family: 'Encode Sans Expanded', sans-serif;
}

h1,h2,h3{
    font-family: 'Roboto Mono', monospace;
}


p{
    font-weight: 100;
}

.logo{
    font-family: 'Anton', sans-serif;
    font-weight:bolder;
    font-size:50px;
    margin:0
}



.circle{
    width: 450px;
    height: 450px;
    border-radius: 50%;
}

.designcircle1{
    position:absolute;
    border-radius: 50%;
    background-color: #BFDAF7;

   
}
.circle1{
    width: 200px;
    height: 200px;
    
    left: 30px;
}
.circle2{
    width: 200px;
    height: 200px;
    
    right: 50px;
}


.section{
    height: 100vh;
}

.title{
    font-size: 64px;
}
.heading{
    font-size: 50px;
}
.desc{
    font-size: 32px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .circle{
        margin: 40px 0px 40px 0px;
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
    .circle1{
        width:150px;
        height: 150px;
        left: -10px
    }
    .circle2{
        right: -20px;
        width:150px;
        height: 150px;
    }
    .section{
        height: auto;
    }
    .title{
        font-size: 40px;
    }

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

   

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
